.wrap-form{
    background-color: white;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 1.8rem;
    border-radius: 20px;
    padding: 10px 0;
    margin-top: 20px;
}